@import "tailwindcss";


@theme inline {
  /* 14 %L */
  --color-dance-reg: #003147;
  /* 5 %L */
  --color-dance-drk: #00111a;
  /* 70 %L */
  --color-dance-lte: #66cfff;
  /* 90 %L */
  --color-dance-bri: #ccefff;

  --color-dance-ff: #f5fcff;
  --color-dance-e9: #e7e8e9;
  --color-dance-99: #949b9e;
  --color-dance-6f: #6d7578;
  --color-dance-00: #00070a;

  --color-dance-acc: #ffd6a8;

  --font-genos: var(--font-genos);
  --font-ubuntu: var(--font-ubuntu);
  --font-redhat: var(--font-redhat);


}

@layer components {
  .cust-bg-gradient {
    @apply bg-dance-reg bg-linear-120 from-dance-reg to-dance-drk/33
  }

  .cust-acc-gradient {
    @apply bg-linear-120 from-dance-e9 to-dance-acc
  }

  .box-dance {
    @apply rounded-2xl shadow-xl shadow-dance-00/25 border border-dance-00/5 py-1 px-4 font-ubuntu text-lg font-medium
  }

  .shape-dance {
    @apply rounded-[2.5rem_2.5rem_0_2.5rem]
  }
}

body {
  /* background: #9c0944; */
  font-family: Arial, Helvetica, sans-serif;
}