@import "tailwindcss";


@theme inline {
  /* 14 %L */
  --color-dance-reg: #003147;
  /* 5 %L */
  --color-dance-drk: #00111a;
  /* 70 %L */
  --color-dance-lte: #66cfff;
  /* 90 %L */
  --color-dance-bri: #ccefff;

  --color-dance-ff: #f5fcff;
  --color-dance-e9: #e7e8e9;
  --color-dance-99: #949b9e;
  --color-dance-6f: #6d7578;
  --color-dance-00: #00070a;

  --color-dance-acc: #ffd6a8;

  --font-genos: var(--font-genos);
  --font-ubuntu: var(--font-ubuntu);
  --font-redhat: var(--font-redhat);

  --animate-fade-in: fade-in 1s ease-out forwards;
  --animate-fade-in-scale: fade-in-scale 1s ease-out forwards;
  --animate-fade-in-ltr: fade-in-ltr 1s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-in-ltr {
    0% {
      opacity: 0;
      transform: translateX(-25%);
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

}

@layer components {
  .cust-bg-gradient {
    @apply bg-dance-reg bg-linear-120 from-dance-reg to-dance-drk/33
  }

  .cust-acc-gradient {
    @apply bg-linear-120 from-dance-e9 to-dance-acc
  }

  .cust-container {
    @apply rounded-2xl shadow-xl shadow-dance-00/25 ring ring-dance-e9/10 py-1 px-4
  }

  .cust-button {
    @apply font-ubuntu text-lg font-medium
  }

  .cust-shape {
    @apply rounded-[2rem_2rem_1px_2rem] size-fit ring ring-dance-e9/10
  }

  .cust-body-text {
     @apply font-redhat opacity-90 leading-snug
  }

  .cust-input {
    @apply font-medium ring rounded-[1px] ring-dance-e9/10 bg-dance-e9 placeholder:text-dance-99 p-3 text-dance-drk
  }
}

body {
  /* background: #9c0944; */
  font-family: Arial, Helvetica, sans-serif;
}